.form-pay{
    padding: 5rem 0rem 5rem 2rem;
    background: #FFFF;
    // background-image: url(http://theme.hstatic.net/1000384235/1000541562/14/connect_bg.jpg?v=263);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .col-lg-7{
      left: 2%;
    }
    .card{
      border: none;
    }
  
    h1{
      margin-top: 2rem;
      text-align: center;
      font-family: Florence, cursive;
    }
    a{
      margin-left: 15px;
    }
    .btn{
      margin-left: 30%;
    }
  }
  .reister-detail{
    padding: 2rem 2rem 2rem 2rem;
  }