<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: linkCss">
    <meta charset="utf-8">
</head>

<body class="fix-header">
    <div th:replace="layout :: svn"></div>
    <div th:replace="layout :: nav"></div>
    <div th:replace="layout :: mainSidebar"></div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User Name</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="adm: ${ADrepo}">
                    <td th:text="${adm.getIdAdmin()}" />
                    <td th:text="${adm.getFullnameAdmin()}" />
                </tr>

            </tbody>
            </table>
            <!-- /.content-header -->
            <!-- /.content-header -->
            <!-- /.card-header -->
            <!-- /.card-body -->
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.1.0-pre
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->

</body>

</html>