/* $color-text: #ffffff;
// $background: #ffa233

.header {

  height: 5rem;

  .navbar {
    line-height: 3rem;

    .text-logo {
      font-weight: bold;
      font-size: 40px;
      color: $color-text;
    }
    img {
      width: 20px;
      height: 20px;
    }
    .collapse {
      font-size: 20px;
      a {
        color: $color-text;
        margin-left: 10px;
      }
      .navbar-text {
        margin-right: 2px;
        font-style: bold;
        color: $color-text;
        cursor: pointer;
      }

      .input-group {
        width: 300px;
        margin-right: 29px;
      }
    }
  }

  .dropdown-menu {
    left: 10%;
    background: #ffa233;

    .dropdown-item {
      color: $color-text;
      font-weight: 500;
    }
    .dropdown-item:hover {
      color: #333333;
    }
  }
} */

/* .navbar {
  background: #ffa233;
 } */


.navbar {
  background: #ffa233;
  .text-logo {
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFFFF;
  }
  .navbar-nav{
    font-size: 19px;
    font-weight: 500;
  }
  .dropdown-menu {
    left: 10%;
    background: #ffa233;
    margin-top: 17%;
  }
  .input-group{
    width: 30%;
  }
} 

.input-group-append  {
  input {
    width: 30px;
  }
  span {
    width: 9%;
  }
}

.isLogin .dropdown-menu{
  left: 3%;
  margin-top: 9%;
}